main{
    display:  flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 71vh;
}

main > div {
    display: flex;
    justify-content: left;
    flex-direction: column;
}

main div h2{
    color: #FFF;
   
    font-family: Roboto, sans-serif;
    font-size: 1.875vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
   
    padding-bottom: 2.67vh;

}

main > div > div{
    display:  flex;   

    border-top: 0.078125vw solid #6A6363;

    gap: 1.88vw;
    padding-top: 1.33vh;
}




