footer {
    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(180deg, #383535 0%, rgba(133, 130, 130, 0.00) 100%);
    height: 15vh;
    width: 100%;

}

.titleandArtist{
    margin: 24px 0px 53px 32px;
    justify-self: flex-start;
}   



.playerMusic{
    display: flex;
    justify-content: center;       
    align-items: center;
    align-self: center;
    justify-self: center;

    padding-top: 16px;
    
}
